#main h1{
    color: #FF9800;
    background-color: #022FB3;
}

#main p {
    color: #022FB3;
}

#main em {
    color: #FF9800;
}

#main span {
    color: #aaaaaa;
}

#main button {
    color: #fff;
    width: 500px;
    height: 250px;
    background: url(../img/start-blue.png) no-repeat center;
}

#main button:hover {
    color: #fff;
    background: url(../img/start-orange.png) no-repeat center;
}