#main h1 {
    color: #FF9800;
    background-color: #022FB3;
}

#main p {
    color: #022FB3;
}

#main em {
    color: #FF9800;
}

#main span {
    color: #aaaaaa;
}

#main .btnStart {
    color: #fff;
    width: 500px;
    max-width: 100%;
    height: 250px;
    background: url("../img/start-blue.png") no-repeat center;
    background-size: contain;
}

#main .btnStart:hover {
    color: #fff;
    background: url("../img/start-orange.png") no-repeat center;
    background-size: contain;
}